<div class="block block-template-builder width-100">
    <div class="container">
        <div class="block-content">
            <div class="block block-free-html">
                <div id="cta_hub_agence">
                    <div class="cta-texte_bloc">
                        <p class="title_cta_hub">VOUS SOUHAITEZ VOUS FAIRE ACCOMPAGNER POUR VOTRE PROJET ?</p>
                        <a href="https://www.pointp.fr/nos-showrooms/prendre-rendrez-vous" class="cta_hub2"
                            java-script="try{tc_events_global(this,'Event',{'category':'Engagement','action':'Clic CTA','label':this.innerText.toLowerCase()})}catch(e){};">EN SAVOIR PLUS ICI !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>


    .builder-header {
        height: 0px;
    }

    .section-template-builder {
        margin-top: 0px;
    }

    .section,
    .block {
        margin: 0 !important;
    }

    #cta_hub_agence {
        width: 100%;
        padding: 50px 80px 40px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #DFDFDF;
        border-radius: 0px 40px 40px 40px;
        max-width: 870px;
        margin: 0 auto 35px;
    }

    .title_cta_hub {
        font-size: 18px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 16px;
        text-transform: uppercase;
        white-space: pre;
    }

    .des_cta_hub {
        font-size: 12px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 16px;
    }

    .cta_hub2 {
        margin-left: 14rem;
        width: max-content;
        font-size: 10px;
        line-height: 13px;
        color: #FFFFFF;
        font-weight: 700;
        text-align: center;
        background-color: #E75012;
        padding: 13px 32px;
        border-radius: 35px;
        display: block;
        text-transform: uppercase;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .cta_hub:hover {
        color: #333333;
        background-color: #FFFFFF;
    }

    .cta-texte_bloc {
        text-align: center;
    }


    #cta_hub_agence .des_cta_hub {
        margin-bottom: 16px;
        line-height: 1rem;
    }



    @media (max-width: 425px) {
        #cta_hub_agence {
            width: 100%;
            padding: 56px 50px 50px 50px;
            display: flex;
        }

        .title_cta_hub {
            width: 100%;
            padding-left: 0px;
            white-space: revert;
        }

        #cta_hub_agence {
            margin-bottom: 0;
        }

        a.cta_hub {
            margin-left: 2rem;
        }


    }
</style>