<section class="blocRdvSh blocRdvSh--2">
    <img src="/s/imgs/efficience/bloc_rdv_sh/block_2_reassurance/visual_mobile_1.webp" alt="" class="rdvShImg rdvShImg--visual element--mobile">
    <img src="/s/imgs/efficience/bloc_rdv_sh/block_2_reassurance/visual_desktop_1.webp" alt="" class="rdvShImg rdvShImg--visual element--desktop">
    <article class="rdvShContent">
        <h2 class="rdvShTitle__h2">Un projet ?</h2>
        <p class="rdvShText">Nos conseillers POINT.P vous accueillent pour comprendre vos besoins et vous apporter un conseil personnalisé.</p>
        <ul class="rdvShReassurance">
            <li class="reassuranceItem">
                <img src="/s/imgs/efficience/bloc_rdv_sh/block_2_reassurance/icon_reassurance_1.svg" alt="" class="rdvShImg rdvShImg--reassurance">
                <p class="itemText">Gratuit</p>
            </li>
            <li class="reassuranceItem">
                <img src="/s/imgs/efficience/bloc_rdv_sh/block_2_reassurance/icon_reassurance_2.svg" alt="" class="rdvShImg rdvShImg--reassurance">
                <p class="itemText">Conseils personnalisés</p>
            </li>
            <li class="reassuranceItem">
                <img src="/s/imgs/efficience/bloc_rdv_sh/block_2_reassurance/icon_reassurance_3.svg" alt="" class="rdvShImg rdvShImg--reassurance">
                <p class="itemText">Sans engagement</p>
            </li>
        </ul>
        <a href="https://www.pointp.fr/nos-showrooms/prendre-rendrez-vous" class="rdvShCta">Prendre rendez-vous</a>
    </article>
</section>