<!-- Bloc rdv sh START -->
<section class="blocRdvSh blocRdvSh--1">
    <img src="/s/imgs/efficience/bloc_rdv_sh/block_1/carrelage_beige_mobile.webp" alt="" class="rdvShImg rdvShImg--visual element--mobile">
    <img src="/s/imgs/efficience/bloc_rdv_sh/block_1/carrelage_beige_desktop.webp" alt="" class="rdvShImg rdvShImg--visual element--desktop">
    <article class="rdvShContent">
        <h2 class="rdvShTitle__h2">Vous voulez découvrir toutes les tendances sol 2025 ?</h2>
        <div class="rdvShDesc">
            <p class="rdvShText element--mobile">
                Laissez-vous guider par nos conseillers en showroom ou en visio :
            </p>
            <p class="rdvShText element--desktop">
                Laissez-vous guider par nos conseillers en showroom ou en visio :
            </p>
            <img src="/s/imgs/efficience/bloc_rdv_sh/block_1/icon_click.png" alt="" class="rdvShImg rdvShImg--iconClick element--desktop">
        </div>
        <a href="https://www.pointp.fr/nos-showrooms/prendre-rendrez-vous" class="rdvShCta">
            Me faire accompagner
        </a>
    </article>
</section>
<!-- Bloc rdv sh END -->