<div class="block block-template-builder width-100">
    <div class="container">
        <div class="block-content">
            <div class="block block-free-html">
                <div class="img-layout-60-40-simple--A">
                    <div class="img-layout-60-40-simple__wrapper--A">
                        <div class="left">
                            <div class="left__img left__img--01">
                                <img src="/s/imgs/efficience/avant-apres/Projet_sdb_look_vintage/4_B_4I5A0101.png" alt="salle d'eau blanche et carrelage sol effet carreaux de ciment noir et blanc" />
                            </div>
                        </div>
                        <div class="right">
                            <div class="right__img right__img--01">
                                <img src="/s/imgs/efficience/avant-apres/Projet_sdb_look_vintage/6_B_4I5A0135.png" alt="carrelage grès cérame émaillé effet carreaux de ciment motif star noir" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>