<div class="block block-template-builder width-100">
    <div class="container">
        <div class="block-content">
            <div class="block-wysiwyg">
                <h3>
                    Le point fort de ce carrelage effet carreaux de ciment 
                </h3>
                <p>
                    <strong>Robuste et graphique</strong>, ce grès cérame émaillé adopte des motifs d’étoiles contrastés pour <strong>apporter du peps au décor</strong>.
                </p>
                <p>
                    Découvrez ici <a href="https://www.google.com/url?q=https://www.pointp.fr/c/imitation-carreaux-de-ciment/x3visu_dig_ub_2055961&sa=D&source=docs&ust=1731410041850904&usg=AOvVaw2Pk0V_BNy-vwr-jq1ZyzC2"><strong>notre gamme de carrelages imitation carreaux de ciment</strong></a>.
                </p>
                <p>
                    &nbsp;
                </p>
            </div>
        </div>
    </div>
</div>