<div class="block block-template-builder width-100">
    <div class="container">
        <div class="block-content">
            <div class="block block-free-html">
                <div class="image-av-ap">
                    <div class="image-av-ap__content">
                        <div class="content-head">
                            <div class="content-head__left">
                                <div class="img-wrapper img-wrapper--av">
                                    <img src="/s/imgs/efficience/avant-apres/Projet_sdb_look_vintage/1_IMG_2552.png" alt="avant travaux salle d'eau">
                                </div>
                            </div>
                            <div class="content-head__right">
                                <div class="img-wrapper img-wrapper--ap">
                                    <img src="/s/imgs/efficience/avant-apres/Projet_sdb_look_vintage/2_B_4I5A0078.png" alt="après travaux salle d'eau">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    strong.italique {
        font-style: italic;
    }

    /*style Romain*/
    .builder-header {
        height: 0px;
    }

    .section-template-builder {
        margin-top: 0px;
    }

    .section,
    .block {
        margin: 0 !important;
    }

    /*style Romain*/
    .image-av-ap__content .content-head {
        display: flex;
        gap: 5px 0;
        flex-direction: column;
    }

    .image-av-ap__content .content-head .content-head__left {
        width: 100%;
    }

    .image-av-ap__content .content-head .content-head__right {
        width: 100%;
    }

    .image-av-ap__content .img-wrapper {
        position: relative;
    }

    .image-av-ap__content .img-wrapper::before {
        padding: 5px;
        background-color: #58575C;
        color: white;
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        left: 15px;
        top: 15px;
        /* font-family: 'kh-blackline-scriptmedium'; */
    }

    .image-av-ap__content .img-wrapper--av::before {
        content: "AVANT";
    }

    .image-av-ap__content .img-wrapper--ap::before {
        content: "APRÈS";
    }

    .image-av-ap__content img {
        height: 460px;
        object-fit: cover;
    }

    .image-av-ap__content {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 768px) {
        .image-av-ap__content .content-head {
            gap: 0 5px;
            flex-direction: row;
        }

        .image-av-ap__content .content-head__left {
            width: 50%;
        }

        .image-av-ap__content .content-head__right {
            width: 50%;
        }
    }
</style>