<div class="block block-template-builder width-100">
    <div class="container">
        <div class="block-content">
            <div class="block block-free-html">
                <div class="bloc_hub">
                    <div class="card_tendance">
                        <h2>Découvrez d’autres avant/après</h2>
                        <div class="card_tendance-wrapper">
                            <div class="item carrelage show">
                                <div class="item__img">
                                    <a href="https://www.google.com/url?q=https://www.pointp.fr/espace-deco/avant-apres/avant-apres-une-salle-de-bain-graphique-pour-enfants&sa=D&source=docs&ust=1731487697079114&usg=AOvVaw1X2zpwzOeTqgH2TtYtF1VH">
                                        <img src="https://www.pointp.fr/s/imgs/efficience/avant-apres/Projet-sdb-roucas/VIGNETTE_424x188px_4I5A0491.jpg?frz-v=5721" alt="UNE SALLE DE BAIN GRAPHIQUE POUR ENFANTS">
                                    </a>
                                </div>
                                <div class="text_card">
                                    <a href="https://www.google.com/url?q=https://www.pointp.fr/espace-deco/avant-apres/avant-apres-une-salle-de-bain-graphique-pour-enfants&sa=D&source=docs&ust=1731487697079114&usg=AOvVaw1X2zpwzOeTqgH2TtYtF1VH">
                                        <h3>UNE SALLE DE BAIN GRAPHIQUE POUR ENFANTS</h3>
                                    </a>
                                    <div class="card_cta">
                                        <a href="https://www.google.com/url?q=https://www.pointp.fr/espace-deco/avant-apres/avant-apres-une-salle-de-bain-graphique-pour-enfants&sa=D&source=docs&ust=1731487697079114&usg=AOvVaw1X2zpwzOeTqgH2TtYtF1VH" onmousedown="try{tc_events_global(this,'Event',{'category':'Engagement','action':'Clic CTA','label':this.innerText.toLowerCase()})}catch(e){};"> LIRE L'ARTICLE </a>
                                        <span class="icon-add"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="item carrelage show">
                                <div class="item__img">
                                    <a href="https://www.google.com/url?q=https://www.pointp.fr/espace-deco/avant-apres/3-salles-de-bain-zen&sa=D&source=docs&ust=1731487697079725&usg=AOvVaw2gDh26cLZsEWbO1tAyQ64N">
                                        <img src="https://www.pointp.fr/s/imgs/efficience/avant-apres/Projet-3salles-de-bain-zen/Vignette_pageHub_424x188px.jpg?frz-v=5721" alt="TROIS SALLE DE BAIN ZEN">
                                    </a>
                                </div>
                                <div class="text_card">
                                    <a href="https://www.google.com/url?q=https://www.pointp.fr/espace-deco/avant-apres/3-salles-de-bain-zen&sa=D&source=docs&ust=1731487697079725&usg=AOvVaw2gDh26cLZsEWbO1tAyQ64N">
                                        <h3>TROIS SALLE DE BAIN ZEN</h3>
                                    </a>
                                    <div class="card_cta">
                                        <a href="https://www.google.com/url?q=https://www.pointp.fr/espace-deco/avant-apres/3-salles-de-bain-zen&sa=D&source=docs&ust=1731487697079725&usg=AOvVaw2gDh26cLZsEWbO1tAyQ64N" onmousedown="try{tc_events_global(this,'Event',{'category':'Engagement','action':'Clic CTA','label':this.innerText.toLowerCase()})}catch(e){};"> LIRE L'ARTICLE </a>
                                        <span class="icon-add"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="item carrelage show">
                                <div class="item__img">
                                    <a href="https://www.google.com/url?q=https://www.pointp.fr/espace-deco/avant-apres/une-salle-de-bain-look-retro&sa=D&source=docs&ust=1731487697078235&usg=AOvVaw3PgqUCvmeIAaTSAKwDl_P7">
                                        <img src="https://www.pointp.fr/s/imgs/efficience/avant-apres/Projet-sdb-retro/Vignette_pageHub_424x188px.jpg?frz-v=5721" alt="UNE SALLE DE BAIN AU LOOK RÉTRO">
                                    </a>
                                </div>
                                <div class="text_card">
                                    <a href="https://www.google.com/url?q=https://www.pointp.fr/espace-deco/avant-apres/une-salle-de-bain-look-retro&sa=D&source=docs&ust=1731487697078235&usg=AOvVaw3PgqUCvmeIAaTSAKwDl_P7">
                                        <h3>UNE SALLE DE BAIN AU LOOK RÉTRO</h3>
                                    </a>
                                    <div class="card_cta">
                                        <a href="https://www.google.com/url?q=https://www.pointp.fr/espace-deco/avant-apres/une-salle-de-bain-look-retro&sa=D&source=docs&ust=1731487697078235&usg=AOvVaw3PgqUCvmeIAaTSAKwDl_P7" onmousedown="try{tc_events_global(this,'Event',{'category':'Engagement','action':'Clic CTA','label':this.innerText.toLowerCase()})}catch(e){};"> LIRE L'ARTICLE </a>
                                        <span class="icon-add"></span>
                                    </div>
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style> 
	/*style Romain*/
	.builder-header {
		height: 0px;
	}
	.section-template-builder {
		margin-top: 0px;
	}
	.section, .block {
		margin: 0 !important;
	}
	/*style Romain*/
	.bloc_hub #filters_bloc {
		width: 80%;
		border-top: 1px solid #ECECEC;
		border-bottom: 1px solid #ECECEC;
		padding: 32px 0;
		margin-left: 110px;
		display: flex;
		align-items: center;
	}
	/* Add a grey background color on mouse-over */
	.bloc_hub .btnn:hover {
		background-color: #ECECEC;
		outline:none;
	}
	.bloc_hub #btn_filter {
		display: flex;
		flex-wrap: wrap;
	} 
	/* Add a dark background color to the active button */
	.bloc_hub .btnn.active {
		background-color: #E75012;
		outline:none;
		color: white;
	}
	.bloc_hub #label_categorie {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: #333333;
		margin-right: 205px;
		white-space: nowrap;
	}
	.bloc_hub .filter .filter__content {
		display: none;
	}
	
	/* Style the buttons */
	.bloc_hub .btnn {
		color: #333333; 
		text-align: center; 
		border: 1px solid #DFDFDF; 
		padding: 8px 24px;
		border-radius: 60px;
		margin: 8px 12px 8px 0;
		cursor: pointer;
		font-size: 12px;
		line-height: 16px;
		font-weight: 700;
	}
	.bloc_hub .card_tendance.active .card_tendance-wrapper {
		max-height: inherit;
		overflow: inherit;
	}
	.bloc_hub .card_tendance.active .card_tendance-btn {
		display: none;
	}
	.bloc_hub .card_tendance .card_tendance-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 26px 12px;
		max-height: 800px;
		overflow: hidden;
	}
	.bloc_hub .card_tendance .card_tendance-wrapper .item {
		display: flex;
		flex-direction: column;
		width: calc(100% / 3 - 8px)
	}
	.bloc_hub .card_tendance h2 {
		font-size: 24px;
		line-height: 28px;
		font-weight: 700;
		margin-bottom: 30px;
        text-transform: uppercase;
	}
	.bloc_hub .card_tendance h2 span {
		color: #E75012;
	}
	.bloc_hub .card_tendance .item {
		border: 1px solid #ECECEC;
		border-radius: 0px 20px 20px 20px;
		display: none;
		overflow: hidden;
		background-color: white;
	}
	.bloc_hub .card_tendance .item .text_card {
		padding: 24px;
	}
	.bloc_hub .card_tendance .item .text_card h3 {
		font-size: 18px;
		line-height: 21px;
		font-weight: 700;
		margin-bottom: 24px;
		color: #333333;
		text-transform: uppercase;
	}
	.bloc_hub .card_tendance .item .text_card p {
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 24px;
		line-height: 24px;
	}
	.bloc_hub .card_tendance .item .text_card p a {
		text-decoration: underline;
		font-weight: 700;
		color: #e75012;
	}
	.bloc_hub .card_tendance .item .text_card .card_cta {
		display: flex;
		align-items: center;
	}
	.bloc_hub .card_tendance .item .text_card .card_cta span {
		display: inline-block;
		margin-left: 15px;
		width: 20px;
		height: 20px;
		background-color: #E75012;
		border-bottom-right-radius: 100%;
		border-bottom-left-radius: 100%;
		border-top-right-radius: 100%;
		position: relative;
	}
	.bloc_hub .card_tendance .item .text_card .card_cta span:before {
		content: "+";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #ffffff;
		font-size: 20px;
		font-weight: 700;
	}
	.bloc_hub .card_tendance .item .text_card .card_cta a {
		font-size: 10px;
		color: #333333;
		font-weight: 700;
		line-height: 13px;
	}
	.card_tendance-btn {
		font-size: 10px;
		line-height: 13px;
		font-weight: 700;
		text-align: center;
		border: 1px solid #DFDFDF;
		padding: 13px 32px;
		border-radius: 35px;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		margin: 50px auto;
		color: white;
		background-color: #E75012;
		cursor: pointer;
	}
	.bloc_hub .show {
		display: block !important;
	}
	
	@media (max-width: 425px) {
		.bloc_hub #filters_bloc {
			width: 100%;
			padding: 20px 0;
			margin-left: inherit;
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		.bloc_hub #label_categorie {
			width: 100%;
			margin-right: inherit;
			display: flex;
			align-items: center;
		}
		.bloc_hub .filter .filter__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-left: 30px;
		}
		.bloc_hub .filter .filter__content .filter__content-number {
			border-radius: 100%;
			background-color: #E75012;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			font-size: 14px;
			line-height: 19px;
			padding: 8px 13px;
		}
		.bloc_hub .filter .filter__content .filter__content-display {
			transform: rotate(135deg);
			border-style: solid;
			border-width: 1px 1px 0 0;
			content: '';
			display: inline-block;
			height: 10px;
			vertical-align: top;
			width: 10px;
			transition: 0.5s;
		}
		.bloc_hub .filter .filter__content .filter__content-display.active {
			transform: rotate(-45deg);
			color: #E75012;
			transition: 0.5s;
		}
		.bloc_hub #btn_filter {
			display: none;
		}
		.bloc_hub #btn_filter.active {
			display: flex;
			margin-top: 10px;
		}
		.bloc_hub .card_tendance .card_tendance-wrapper .item {
			width: 100%;
		}
		.bloc_hub .card_tendance .item .item__img img {
			width: 100%!important;
		}
		.card_tendance-btn {
			margin: 20px auto 10px;
		}
	}
</style>