<div class="block block-template-builder width-100">
    <div class="container">
        <div class="block-content">
            <div class="block-wysiwyg">
                <p>
                    Ces informations techniques sont données à titre indicatif, nous vous conseillons de prendre connaissance des fiches techniques et des préconisations d’installation des produits, consultables sur notre site <a href="www.pointp.fr" title="www.pointp.fr">www.pointp.fr</a>. Nous vous recommandons de suivre les D.T.U. et les avis techniques en vigueur pour la bonne mise en œuvre des produits. N’hésitez pas à vous rapprocher de votre artisan pour tout conseil personnalisé dans la réalisation de vos travaux.
                </p>
            </div>
        </div>
    </div>
</div>