<div class="block block-template-builder width-100">
    <div class="container">
        <div class="block-content">
            <div class="block-wysiwyg">
                <div class="bloc-30-70">
                    <div class="bloc-30-70__content">
                        <div class="content-head">
                            <div class="content-head__left">
                                <div class="img-wrapper img-wrapper--02">
                                    <img 
                                    src="/s/imgs/efficience/avant-apres/Projet-suite-parentale/10-polaroid2.png" 
                                    alt="Portrait Leilalifestyle" />
                                </div>
                            </div>
                            <div class="content-head__right">
                                <h3>Leila en quelques mots</h3>
                                <p>
                                    <i>« Maman de deux enfants, je suis influenceuse et consultante en stratégie digitale. En parallèle, je travaille actuellement sur un projet de <strong><span><em>coaching en décoration et en organisation d’intérieur.</em></strong></span> J’ai créé mon compte Instagram en 2014 pour partager mes idées et astuces déco, mes recettes et coups de cœur.
                                    Passionnée de décoration, j’ai appris très tôt à composer un univers et à aménager un intérieur, dès l’âge de 19 ans. A l’époque, j’aimais transformer mon lieu de vie pour suivre les tendances du moment mais petit à petit, j’ai décidé <strong><span><em>d’adopter un style intemporel et durable, faisant la part belle au minimalisme ».</i></em></strong></span>
                                </p>
                                <a 
                                href="https://www.instagram.com/leilalifestyle/?hl=fr" target="_blank">@leilalifestyle</a>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    /*style Romain*/
    .builder-header {
        height: 0px;
    }

    .section-template-builder {
        margin-top: 0px;
    }

    .section,
    .block {
        margin: 0 !important;
    }

    /*style Romain*/
    .bloc-30-70__content {
        display: flex;
        flex-direction: column;
    }

    .bloc-30-70__content .content-head {
        display: flex;
        gap: 20px 0;
        flex-direction: column;
    }

    .bloc-30-70__content .content-head__left,
    .bloc-30-70__content .content-head__right {
        width: 100%;
    }

    .bloc-30-70__content .img-wrapper {
        background-color: transparent;
        position: relative;
    }

    .bloc-30-70__content .img-wrapper::before {
        padding: 10px;
        background-color: #f6f6f6;
        font-size: 33px;
        line-height: 36px;
        font-weight: 400;
        position: absolute;
        left: 0;
        top: 15px;
        font-family: 'kh-blackline-scriptmedium';
    }

    .bloc-30-70__content h3,
    .bloc-30-70__content h4 {
        font-size: 17px;
        line-height: 21px;
        font-weight: 700;
        color: #393939;
        margin-bottom: 20px;
    }

    .bloc-30-70__content p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #777777;
        margin-bottom: 10px;
    }

    .bloc-30-70__content a {
        font-weight: 700;
        color: #e75012;
    }

    .bloc-30-70__content .conseil {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        border-left: 10px solid #e75012;
    }

    .bloc-30-70__content ul,
    .bloc-30-70__content ol {
        color: #777777;
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 24px;
    }

    .bloc-30-70__content ol {
        counter-reset: li;
    }

    .bloc-30-70__content ul li,
    .bloc-30-70__content ol li {
        padding: 0 0 6px 20px;
    }

    .bloc-30-70__content ol li {
        counter-increment: li;
    }

    .bloc-30-70__content ul li::before {
        content: "•";
        display: inline-block;
        width: 20px;
        margin-left: -20px;
    }

    .bloc-30-70__content ol li:before {
        content: counter(li) ".";
        display: inline-block;
        width: 20px;
        margin-left: -20px;
    }

    .bloc-30-70 .list-blackline {
        font-family: 'kh-blackline-scriptmedium';
        font-size: 26px;
        line-height: 1.1;
    }

    .bloc-30-70 .list-blackline li {
        padding-left: 0;
    }

    .bloc-30-70 .list-blackline li::before {
        display: none;
    }

    .bloc-30-70 .list-blackline span {
        color: #e75012;
    }

    @media (min-width: 768px) {
        .bloc-30-70__content .content-head {
            display: flex;
            gap: 0 25px;
            flex-direction: row;
        }

        .bloc-30-70__content .content-head__left {
            width: 40%;
        }

        .bloc-30-70__content .content-head__right {
            width: 60%;
        }

        .bloc-30-70__content .content-head__right.content-head__right--center {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
</style>